* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  background: #fff;
  padding-top: 7px;
  padding-bottom: 7px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.header .header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header .header__content > div {
  display: flex;
  align-items: center;
}
.header .header__content #menu__toggle {
  opacity: 0;
}
.header .header__content .menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.header .header__content .menu__btn > span,
.header .header__content .menu__btn > span::before,
.header .header__content .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 40px;
  right: 0;
  height: 4px;
  background-color: #4C957A;
  transition: 0.5s ease-in-out;
}
.header .header__content .menu__btn > span {
  width: 40px;
}
.header .header__content .menu__btn > span::before {
  content: "";
  top: -11px;
}
.header .header__content .menu__btn > span::after {
  content: "";
  top: 11px;
}
.header .header__content #menu__toggle, .header .header__content .menu__btn {
  display: none;
}
.header .header__navigation {
  margin-left: auto;
  margin-right: 17px;
}
.header .header__navigation .navigation__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 795px;
}
.header .header__navigation .navigation__list .list__link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000;
}
.header .header__navigation .navigation__list .list__item {
  border-bottom: 2px solid #fff;
  transition: all 0.3s;
}
.header .header__navigation .navigation__list .list__item.active {
  border-bottom: 2px solid #4C957A;
}
.header .header__navigation .navigation__list .list__item:hover {
  border-bottom: 2px solid #4C957A;
}
.header .button-sing-in {
  background: #fff;
  border: none;
  cursor: pointer;
}

.foreclosure-preview {
  padding-top: 101px;
  height: 100vh;
  background: url("../img/fpreclosure__bg.png") no-repeat;
  background-size: cover;
  background-clip: content-box;
  background-origin: content-box;
  box-sizing: border-box;
}
.foreclosure-preview .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.foreclosure-preview .foreclosure-preview__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foreclosure-preview .foreclosure-preview__description {
  max-width: 702px;
}
.foreclosure-preview .foreclosure-preview__subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}
.foreclosure-preview .foreclosure-preview__title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  color: #FFFFFF;
  margin-top: 30px;
}
.foreclosure-preview .foreclosure-preview__text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 25px;
}
.foreclosure-preview .foreclosure-preview__form-consultation {
  box-sizing: border-box;
  padding: 30px 16px 30px 24px;
  background: rgba(96, 200, 162, 0.8);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  max-width: 454px;
  width: 100%;
}
.foreclosure-preview .form-consultation__title {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}
.foreclosure-preview .form-consultation__subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}
.foreclosure-preview .form-consultation__description {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #E3E1E1;
  margin-top: 20px;
  margin-bottom: 15px;
}
.foreclosure-preview .form-consultation__input {
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  padding: 16px 12px 12px;
  margin-bottom: 25px;
}
.foreclosure-preview .form-consultation__input::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(129, 129, 129, 0.7);
  text-transform: capitalize;
}
.foreclosure-preview .form__list {
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  padding: 16px 12px 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(129, 129, 129, 0.7);
  position: relative;
}
.foreclosure-preview .form-consultation__button {
  background: #76ECC1;
  border-radius: 10px;
  padding: 21px 140px;
  border: none;
  margin-top: 28px;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  transition: all 0.3s;
}
.foreclosure-preview .form-consultation__button:hover {
  background: #4C957A;
}

.second-block {
  padding: 50px 0;
}
.second-block .second-block__title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  /* identical to box height */
  text-align: center;
  color: #000000;
  margin-bottom: 25px;
}
.second-block .second-block__description {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000;
}

.how-it-works {
  padding: 50px 0;
}
.how-it-works .how-it-works__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}
.how-it-works .how-it-works__title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
  margin-bottom: 33px;
  text-align: center;
}
.how-it-works .process {
  max-width: 522px;
  position: relative;
}
.how-it-works .process .process__title {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: right;
  color: #000000;
}
.how-it-works .process .process__description {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #000000;
  margin-top: 15px;
}
.how-it-works .process-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}
.how-it-works .process-wrapper::after {
  content: "";
  width: 5px;
  height: 88%;
  background: url("../img/dashed-line.svg");
  background-position: top left;
  position: absolute;
  top: 0;
  left: 47%;
  transform: translateX(-50%);
  z-index: -10;
}
.how-it-works .process-wrapper .process:first-child::after {
  content: "1";
  display: block;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: #4C957A;
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 43px;
  color: #FFFFFF;
  padding: 20px 35px;
  box-sizing: border-box;
  top: 0;
  right: -23%;
  z-index: -1;
}
.how-it-works .process-wrapper .process:last-child::after {
  content: "3";
  display: block;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: #4C957A;
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 43px;
  color: #FFFFFF;
  padding: 20px 35px;
  box-sizing: border-box;
  top: 0;
  right: -23%;
  z-index: -1;
}
.how-it-works .process-wrapper .process:nth-child(2) {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 67px;
  margin-bottom: 41px;
}
.how-it-works .process-wrapper .process:nth-child(2) .process__img {
  position: relative;
  border-radius: 50%;
}
.how-it-works .process-wrapper .process:nth-child(2) .process__img img {
  width: 100%;
  height: 100%;
}
.how-it-works .process-wrapper .process:nth-child(2) .process__img:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #4C957A;
  border-radius: 50%;
  position: absolute;
  top: -24px;
  z-index: -1;
  left: -32px;
}
.how-it-works .process-wrapper .process:nth-child(2) .process__text {
  max-width: 577px;
  position: relative;
}
.how-it-works .process-wrapper .process:nth-child(2) .process__text::after {
  content: "2";
  display: block;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: #4C957A;
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 43px;
  color: #FFFFFF;
  padding: 20px 32px;
  box-sizing: border-box;
  top: 0;
  left: -18%;
  z-index: -1;
}
.how-it-works .process-wrapper .process:nth-child(2) .process__text .process__title {
  text-align: left;
}
.how-it-works .process-wrapper .process:nth-child(2) .process__text .process__description {
  text-align: left;
}

.consult {
  padding: 63px 0;
  background: url("../img/consult__bg.png") no-repeat;
  background-position: center;
}
.consult .consult__content {
  text-align: center;
}
.consult .consult__title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.consult .consult__description {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.consult .schedule-button {
  border: none;
  background: #6CD3AE;
  border-radius: 10px;
  padding: 21px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.consult .schedule-button:hover {
  background: #4C957A;
}

.footer {
  padding: 20px 0;
}
.footer .footer__register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 62px;
  border-bottom: 2px solid #4C957A;
}
.footer .footer__register .input__join {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 20px;
  color: rgba(88, 88, 88, 0.7);
  border: none;
  background: rgba(196, 196, 196, 0.7);
  border-radius: 10px;
  width: 407px;
}
.footer .footer__register .input__join::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(88, 88, 88, 0.7);
}
.footer .footer__menu {
  display: flex;
  justify-content: space-between;
  position: relative;
  border-top: 2px solid #4C957A;
  padding-top: 34px;
}
.footer .footer__menu form {
  display: flex;
  align-items: flex-end;
}
.footer .footer__menu form input {
  background: rgba(255, 252, 252, 0.7);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 12px 16px;
  color: #585858;
}
.footer .footer__menu form input::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(88, 88, 88, 0.7);
}
.footer .footer__menu form button {
  background: #6CD3AE;
  border-radius: 10px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
  margin-left: 7px;
  padding: 2px 10px;
  cursor: pointer;
  transition: 0.3s;
}
.footer .footer__menu form button:hover {
  background: #4C957A;
}
.footer .footer__menu .block-menu {
  display: flex;
  flex-direction: column;
}
.footer .footer__menu .block-menu h5 {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.footer .footer__menu .block-menu a, .footer .footer__menu .block-menu p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.footer .footer__menu .block-menu .email {
  color: #6CD3AE;
  margin-bottom: 20px;
}
.footer .footer__menu .block-menu .phone {
  color: #6CD3AE;
}
.footer .footer__menu .social {
  width: 131px;
  display: flex;
  justify-content: space-between;
}
.footer .footer__menu .powered {
  color: #000;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  right: 0;
}
.footer .footer__menu .powered span {
  color: #fff;
}
.footer .footer__menu .powered::after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 68px;
  background: #EB363C;
  top: 0;
  right: 17px;
  z-index: -1;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .logo {
    max-width: 105px;
  }

  .header .header__navigation .navigation__list .list__link {
    font-size: 12px;
  }

  .header .header__navigation .navigation__list {
    margin-top: 10px;
    width: 590px;
  }

  .header .header__content > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .header .header__content > div .button-sing-in {
    order: 1;
  }
  .header .header__content > div .header__navigation {
    order: 2;
    margin-right: 0;
  }

  .foreclosure-preview .foreclosure-preview__description {
    flex-basis: 48%;
  }
  .foreclosure-preview .foreclosure-preview__description .foreclosure-preview__title {
    font-size: 30px;
    line-height: 37px;
    margin-top: 20px;
  }
  .foreclosure-preview .foreclosure-preview__description .foreclosure-preview__text {
    font-size: 18px;
  }
  .foreclosure-preview .foreclosure-preview__form-consultation {
    flex-basis: 40%;
    padding: 20px 10px 20px 15px;
  }
  .foreclosure-preview .foreclosure-preview__form-consultation .form-consultation__title {
    font-size: 22px;
  }
  .foreclosure-preview .form-consultation__input {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .foreclosure-preview .form-consultation__input::placeholder {
    font-size: 16px;
  }
  .foreclosure-preview .form__list {
    font-size: 16px;
  }
  .foreclosure-preview .form__list::placeholder {
    font-size: 16px;
  }
  .foreclosure-preview .form-consultation__button {
    padding: 10px 30px;
    font-size: 16px;
  }

  .how-it-works .process {
    max-width: 315px;
  }
  .how-it-works .process .process__title {
    font-size: 22px;
  }
  .how-it-works .process .process__description {
    font-size: 16px;
  }
  .how-it-works .process-wrapper .process:nth-child(2) {
    max-width: none;
    justify-content: center;
    align-items: center;
  }
  .how-it-works .process-wrapper .process:nth-child(2) .process__text {
    max-width: 315px;
    transform: translateX(16%);
  }
  .how-it-works .process-wrapper .process:nth-child(2) .process__text::after {
    width: 75px;
    height: 75px;
    padding: 15px 29px;
    left: -26%;
  }
  .how-it-works .process-wrapper .process:nth-child(2) .process__img {
    max-width: 300px;
    max-height: 300px;
    transform: translateX(-12%);
  }
  .how-it-works .process-wrapper:after {
    height: 75%;
    left: 50%;
  }
  .how-it-works .process-wrapper .process:first-child {
    margin: auto;
    transform: translateX(-66%);
  }
  .how-it-works .process-wrapper .process:first-child::after {
    width: 75px;
    height: 75px;
    right: -27%;
    padding: 15px 32px;
  }
  .how-it-works .process-wrapper .process:last-child {
    margin: auto;
    transform: translateX(-66%);
  }
  .how-it-works .process-wrapper .process:last-child::after {
    width: 75px;
    height: 75px;
    right: -27%;
    padding: 15px 29px;
  }

  .consult {
    padding: 38px 0;
    background-size: cover;
  }
  .consult .consult__title {
    font-size: 24px;
  }
  .consult .consult__description {
    font-size: 16px;
  }
  .consult .schedule-button {
    font-size: 16px;
  }

  .footer {
    padding-bottom: 30px;
  }
  .footer .footer__register {
    padding-bottom: 30px;
  }
  .footer .footer__register .input__join {
    font-size: 16px;
    padding: 13px;
    width: 310px;
  }
  .footer .footer__register .input__join::placeholder {
    font-size: 16px;
  }
  .footer .footer__menu {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer .footer__menu .block-menu {
    flex-basis: 22%;
    text-align: center;
  }
  .footer .footer__menu .contact-us, .footer .footer__menu .social {
    margin-top: 30px;
  }
  .footer .footer__menu form {
    align-items: flex-start;
  }

  .footer .footer__menu .powered::after {
    height: 45px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .logo {
    max-width: 100px;
  }

  .wrapper {
    max-width: 350px;
    padding: 0 10px;
  }

  .header .header__content > div {
    visibility: hidden;
    margin: 0;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
  }
  .header .header__content > div .header__navigation {
    position: relative;
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
    height: 100%;
    margin-right: 0;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .header__content > div .navigation__list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .header .header__content > div .navigation__list .list__item {
    margin-bottom: 10px;
  }
  .header .header__content > div .button-sing-in {
    position: absolute;
    right: 55%;
    top: 3%;
  }
  .header .header__content .menu__btn {
    display: block;
  }
  .header .header__content #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }
  .header .header__content #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }
  .header .header__content #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
  .header .header__content #menu__toggle:checked ~ div {
    visibility: visible;
    right: 0;
  }

  .foreclosure-preview {
    padding-top: 86px;
    height: auto;
  }
  .foreclosure-preview .foreclosure-preview__text {
    font-size: 16px;
    text-align: center;
  }
  .foreclosure-preview .foreclosure-preview__content {
    flex-direction: column;
  }
  .foreclosure-preview .foreclosure-preview__content .foreclosure-preview__description .foreclosure-preview__title {
    font-size: 24px;
    line-height: 27px;
    text-align: center;
  }
  .foreclosure-preview .foreclosure-preview__content .foreclosure-preview__description .foreclosure-preview__subtitle {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
  }
  .foreclosure-preview .foreclosure-preview__content .foreclosure-preview__form-consultation {
    padding: 6px 8px 10px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .foreclosure-preview .foreclosure-preview__content .foreclosure-preview__form-consultation .form-consultation__title {
    font-size: 22px;
  }
  .foreclosure-preview .foreclosure-preview__content .foreclosure-preview__form-consultation .form-consultation__subtitle {
    font-size: 18px;
  }
  .foreclosure-preview .foreclosure-preview__content .foreclosure-preview__form-consultation .form-consultation__description {
    margin: 10px auto;
  }
  .foreclosure-preview .foreclosure-preview__content .foreclosure-preview__form-consultation .form-consultation__input {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .foreclosure-preview .foreclosure-preview__content .foreclosure-preview__form-consultation .form-consultation__input::placeholder {
    font-size: 14px;
  }
  .foreclosure-preview .foreclosure-preview__content .foreclosure-preview__form-consultation .form__list {
    font-size: 14px;
  }
  .foreclosure-preview .foreclosure-preview__content .foreclosure-preview__form-consultation .form__list::placeholder {
    font-size: 14px;
  }
  .foreclosure-preview .foreclosure-preview__content .foreclosure-preview__form-consultation .form-consultation__button {
    font-size: 16px;
    padding: 10px 20px;
  }

  .second-block {
    padding: 30px 0;
  }
  .second-block .second-block__content .second-blck__subtitle {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .second-block .second-block__content .second-block__title {
    font-size: 20px;
    line-height: 27px;
  }
  .second-block .second-block__content .second-block__description {
    font-size: 16px;
  }

  .consult {
    padding: 10px 0;
  }
  .consult .consult__content .consult__title {
    font-size: 22px;
    line-height: 25px;
  }
  .consult .consult__content .consult__description {
    font-size: 14px;
    line-height: 18px;
  }
  .consult .consult__content .schedule-button {
    font-size: 14px;
    padding: 17px 13px;
  }

  .how-it-works .how-it-works__content .process-wrapper::after {
    display: none;
  }
  .how-it-works .how-it-works__content .process-wrapper .process::after {
    display: none;
  }
  .how-it-works .how-it-works__content .process-wrapper .process:nth-child(2) .process__img {
    display: none;
  }
  .how-it-works .how-it-works__content .process-wrapper .process:nth-child(2) .process__text .process__title {
    text-align: center;
    font-size: 20px;
  }
  .how-it-works .how-it-works__content .process-wrapper .process:nth-child(2) .process__text::after {
    display: none;
  }
  .how-it-works .how-it-works__content .process-wrapper .process:nth-child(2) .process__text .process__description {
    text-align: center;
  }
  .how-it-works .how-it-works__content .process-wrapper .process .process__title {
    text-align: center;
    font-size: 20px;
  }
  .how-it-works .how-it-works__content .process-wrapper .process .process__description {
    text-align: center;
    font-size: 16px;
  }

  .footer {
    padding: 30px 0;
  }
  .footer .social {
    order: 4;
  }
  .footer .footer__menu {
    flex-direction: column;
    align-items: center;
  }
  .footer .footer__menu .logo {
    order: 1;
  }
  .footer .footer__menu .block-menu {
    order: 3;
    text-align: center;
    margin-bottom: 15px;
  }
  .footer .footer__menu .block-menu h5 {
    font-size: 18px;
  }
  .footer .footer__menu .block-menu a, .footer .footer__menu .block-menu p {
    font-size: 16px;
  }
  .footer .footer__menu form {
    order: 2;
    width: 90%;
    align-items: flex-start;
    margin-top: 20px;
  }
  .footer .footer__menu form input {
    width: 90%;
    padding: 5px;
    font-size: 12px;
  }
  .footer .footer__menu form input::placeholder {
    font-size: 14px;
  }
  .footer .footer__menu form button {
    line-height: 14px;
    font-size: 14px;
    padding: 12px 15px;
  }

  .footer .footer__menu .powered {
    color: #000;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    bottom: -15px;
    right: 0;
  }

  .footer .footer__menu .powered::after {
    height: 30px;
  }
}