* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  background: #fff;
  padding-top: 7px;
  padding-bottom: 7px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.header .header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__navigation {
  margin-left: auto;
  margin-right: 17px;
}
.header .header__navigation .navigation__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 795px;
}
.header .header__navigation .navigation__list .list__link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000;
}
.header .button-sing-in {
  background: #fff;
  border: none;
  cursor: pointer;
}

.preview {
  height: 100vh;
  background: url("../img/preview__bg.png") no-repeat;
  background-position: center;
}
.preview .wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.preview .preview__content {
  max-width: 632px;
}
.preview .preview__content .preview__title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.preview .preview__content .preview__description {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.preview .preview__content .schedule-button {
  border: none;
  background: #6CD3AE;
  border-radius: 10px;
  padding: 21px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.home-defenders {
  padding: 50px 0;
}
.home-defenders .home-defenders__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}
.home-defenders .home-defenders__title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  /* identical to box height */
  text-align: center;
  color: #000000;
  margin-bottom: 25px;
}
.home-defenders .home-defenders__description {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000;
}

.how-it-works {
  background: rgba(196, 196, 196, 0.3);
  padding: 50px 0;
}
.how-it-works .how-it-works__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}
.how-it-works .how-it-works__title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
  margin-bottom: 20px;
  text-align: center;
}
.how-it-works .steps-help {
  display: flex;
  justify-content: space-between;
}
.how-it-works .steps-help .step:first-child .step__content::after {
  content: "Step 1";
  position: absolute;
  top: -23px;
  left: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  background: #4C957A;
  border-radius: 30px;
  padding: 8px 37px;
}
.how-it-works .steps-help .step:nth-child(2) .step__content::after {
  content: "Step 2";
  position: absolute;
  top: -23px;
  left: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  background: #4C957A;
  border-radius: 30px;
  padding: 8px 37px;
}
.how-it-works .steps-help .step:last-child .step__content::after {
  content: "Step 3";
  position: absolute;
  top: -23px;
  left: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  background: #4C957A;
  border-radius: 30px;
  padding: 8px 37px;
}
.how-it-works .step {
  flex-basis: 30%;
}
.how-it-works .step__img {
  max-height: 285px;
  width: 100%;
}
.how-it-works .step__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.how-it-works .step__content {
  background: #fff;
  padding: 45px 30px;
  border: 2px solid #4C957A;
  position: relative;
}
.how-it-works .step__content .step__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}
.how-it-works .step__content .step__description {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.consult {
  padding: 63px 0;
  background: url("../img/consult__bg.png") no-repeat;
  background-position: center;
}
.consult .consult__content {
  text-align: center;
}
.consult .consult__title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.consult .consult__description {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.consult .schedule-button {
  border: none;
  background: #6CD3AE;
  border-radius: 10px;
  padding: 21px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
}