$color-text: #000;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

.header {
    background: #fff;
    padding-top: 7px;
    padding-bottom: 7px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    .header__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        & > div {
            display: flex;
            align-items: center;
        }

        #menu__toggle {
            opacity: 0;
        }
        .menu__btn {
            display: flex;
            align-items: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: 26px;
            height: 26px;
            cursor: pointer;
            z-index: 1;
        }
        .menu__btn > span,
        .menu__btn > span::before,
        .menu__btn > span::after {
            display: block;
            position: absolute;
            width: 40px;
            right: 0;
            height: 2px;
            background-color: #4C957A;
            transition: 0.5s ease-in-out;
        }
        .menu__btn > span {
            width: 40px;
        }
        .menu__btn > span::before {
            content: "";
            top: -11px;
        }
        .menu__btn > span::after {
            content: "";
            top: 11px;
        }
        #menu__toggle,  .menu__btn {
            display:none;
        }
    }

    .header__navigation {
        margin-left: auto;
        margin-right: 17px;
        .navigation__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 795px;

            .list__link {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-size: 14px; 
                line-height: 18px;
                color: $color-text;
            }
            .list__item {
                border-bottom: 2px solid #fff;
                transition: all .3s;
            }

            .list__item.active {
                border-bottom: 2px solid #4C957A;
            }

            .list__item:hover {
                border-bottom: 2px solid #4C957A;
            }
        }
    }

    .button-sing-in {
        background: #fff;
        border: none;
        cursor: pointer;
    }
}


.preview {
    padding-top: 101px;
    height: 100vh;
    background: url('../img/preview__bg.png') no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: content-box;
    background-origin: content-box;
    box-sizing: border-box;

    .wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;

    }

    .preview__content {
        max-width: 632px;

        .preview__title {
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 34px;
            color: #FFFFFF;
            margin-bottom: 15px;
        }

        .preview__description {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: #FFFFFF;
            margin-bottom: 30px;
        }

        .schedule-button {
            border: none;
            background: #6CD3AE;
            border-radius: 10px;
            padding: 21px;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            cursor:pointer;
            color: #fff;
            transition: all .3s;

            &:hover {
                background: #4C957A;
            }
        }
    }
}

.home-defenders {
    padding: 50px 0;

    .home-defenders__subtitle {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: #000000;
        margin-bottom: 20px;
    }

    .home-defenders__title {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 37px;
        /* identical to box height */
        text-align: center;
        color: #000000;
        margin-bottom: 25px;
    }

    .home-defenders__description {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: $color-text;
    }
}

.how-it-works {
    background: rgba(196, 196, 196, 0.3);
    padding: 50px 0;

    .how-it-works__subtitle {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: #000000;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .how-it-works__title {
        font-style: normal;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        line-height: 37px;
        color: #000000;
        margin-bottom: 30px;
        text-align: center;
    }

    .steps-help {
        display: flex;
        justify-content: space-between;
        position: relative;

        .step:first-child .step__content::after {
            content:"Step 1";
            position: absolute;
            top: -23px;
            left: 25px;
            border: 3px solid #fff;
            font-style: normal;
            font-family: 'Nunito', sans-serif;
            font-weight: 300;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
            background: #4C957A;
            border-radius: 30px;
            padding: 8px 37px;
        }

        .step:nth-child(2) .step__content::after {
            content:"Step 2";
            position: absolute;
            top: -23px;
            left: 25px;
            border: 3px solid #fff;
            font-family: 'Nunito', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
            background: #4C957A;
            border-radius: 30px;
            padding: 8px 37px;
        }

        .step:last-child .step__content::after {
            content:"Step 3";
            position: absolute;
            border: 3px solid #fff;
            top: -23px;
            left: 25px;
            font-family: 'Nunito', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
            background: #4C957A;
            border-radius: 30px;
            padding: 8px 37px;
        }
    }
    .step {
        flex-basis: 30%;
        background: #fff;
        

        
    }

    .step__img {
        max-height: 285px;
        width: 100%;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .step__content {
        
        padding: 30px 30px;
        position: relative;

        .step__title {
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            font-size: 24px;
            line-height: 27px;
            margin-bottom: 10px;
            text-align: center;
            color: #000000;
        }

        .step__description {
            font-style: normal;
            font-weight: normal;
            text-align: center;
            font-size: 15px;
            line-height: 24px;
            color: #000000;
        }
    }
}

.consult {
    padding: 50px 0;
    background: url('../img/consult__bg.png') no-repeat;
    background-position: center;
    .consult__content {
        text-align: center;
    }
    .consult__title {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 37px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 25px;
    }

    .consult__description {
        font-family: 'Nunito', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 25px;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    .schedule-button {
        border: none;
        background: #6CD3AE;
        border-radius: 10px;
        padding: 18px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #fff;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            background: #4C957A;
        }
    }
}

.footer {

    padding: 100px 0 20px;
    position: relative;

    &::after {
        content: "";
        width: 100%;
        position: absolute;
        height: 1px;
        background: #4C957A;
        top: 101px;
        left: 0;
    }

    .logo {
        max-width: 134px;
    }

    .block-logo{
        margin-top: 18px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
    .footer__menu {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-top: 34px;

        form {
            position: relative;
            .join-title {
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;

                color: #000000;
            }

            & > div {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }

            input {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background: rgba(255, 252, 252, 0.7);
                border: 1px solid #000000;
                box-sizing: border-box;
                border-radius: 10px;
                font-style: normal;
                font-weight: 500;
                min-width: 329px;
                font-size: 14px;
                line-height: 24px;
                padding: 12px 16px;
                color: rgba(88, 88, 88, 1);
                &::placeholder {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 24px;
                    color: rgba(88, 88, 88, 0.7);
                }
            }

            button {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background: #6CD3AE;
                border-radius: 10px;
                border: none;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 48px;
                color: #FFFFFF;
                margin-left: 7px;
                padding: 0px 22px;
                cursor: pointer;
                transition: .3s;
                text-transform: uppercase;

                &:hover {
                    background: #4C957A;

                }
            }
        }

        .block-menu {
            display: flex;
            flex-direction: column;

            h5 {
                margin-bottom: 15px;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 24px;
                color: #000000;
            }

            a,p {
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                color: #000000;
            }

            .email {
                color: #6CD3AE;
                margin-bottom: 20px;
            }

            .phone {
                color: #6CD3AE;
            }
        }

        .social {
            width: 131px;
            display: flex;
            justify-content: space-between;
            position: relative;
            & > a {
                position: relative;
                top: 50%;
                height: 36px;
            }
        }

        .powered {
            color:$color-text;
            font-size: 12px;
            font-weight: 700;
            position: absolute;
            bottom: 0;
            right: 0;
            span{
                color: #fff;
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 10px;
                height: 68px;
                background: #EB363C;
                top: 0;
                right: 17px;
                z-index: -1;
            }

        }
    }
}

@media (max-width: 1439px) {
    .how-it-works {
        .steps-help {
            .step {
                .step__content {
                  
                }
            }
        }
    }
}

@media (max-width: 1239px) {

    .how-it-works {
        .steps-help {
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: center;

            .step {
                flex-basis: 45%;
                margin-bottom: 20px;
                &:first-child {
                    margin-right: 30px;
                }

                .step__content {
                }

                .step__img{
                    height: 350px;
                    img {
                        object-fit: fill;
                    }
                }

            }
        }

        .step__content {
            padding: 30px 10px;

            .step__title {
                font-size: 18px;
                text-align: center;
            }

            .step__description {
                font-size: 14px;
                text-align: center;
            }
        
        }
    }

}

@media (max-width: 1000px) {
    .how-it-works {
        .steps-help {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
    
            .step {
                
                margin-bottom: 20px;
    
                .step__img{
                    height: 350px;
                    img {
                        object-fit: fill;
                    }
                }

                .step__content{
                }
    
            }
        }
    }
    
}

@media (max-width: 850px){
    .how-it-works {
        .steps-help {
            .step {
                .step__content {
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1280px) {

    .logo {
        max-width: 105px;
    }
    .header .header__navigation .navigation__list .list__link {
        font-size: 12px;
    }

    .header .header__navigation .navigation__list {
        margin-top: 10px;
        width: 590px;
    }

    .header .header__content > div {
        display: flex;
        align-items: flex-end;

        .button-sing-in img{
            max-width: 23px;
        }

        .header__navigation{
            
            margin-right: 10px;
        }
    }

    .preview {
        .preview__content {
            .preview__title{
                font-size: 30px;
                line-height: 37px;
            }

            .preview__description {
                font-size: 16px;
            }

            .schedule-button {
                font-size: 16px;
            }
        }
    }

    .how-it-works {
        .how-it-works__subtitle {
            margin-bottom: 15px;
        }
        .step {
            &:first-child {
                margin-right: 0;
            }
        }

        .step__content 
        {
            padding: 30px 10px;
            .step__title {
                font-size: 18px;
                text-align: center;
            }
            .step__description {
                font-size: 14px;
                text-align: center;
            }
        
        }
    }

    .consult {
        padding: 38px 0;
        background-size: cover;

        .consult__title {
            font-size: 24px;
        }

        .consult__description {
            font-size: 16px;
        }

        .schedule-button {
            font-size: 16px;
        }
    }

    .footer {
        padding-bottom: 30px;
        .footer__register{
            padding-bottom: 30px;
            .input__join {
                font-size: 14px;
                padding: 13px;
                &::placeholder {
                    font-size: 16px;
                }
                width: 310px;
            }
        }

        .footer__menu {
            flex-wrap: wrap;
            justify-content: space-around;

            .block-menu {
                flex-basis: 30%;
                text-align: center;
            }

            

            form {
                margin-left: 0;
                align-items: flex-start;
                margin-top: 20px;
            }

            .social {
                margin-right: auto;
                margin-left: 20px;
                margin-top: 20px;
            }
        }
    }

    .footer .footer__menu .powered::after {
        height: 45px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {

    .logo {
        max-width: 100px;
    }
    

    .wrapper {
        max-width: 350px;
        padding: 0 10px;
    }
    .header {
        .header__content > div {
            visibility: hidden;
            margin: 0;
            position: fixed;
            top: 0;
            right: -100%;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.5);
            transition: 0.5s ease-in-out;
            
            .header__navigation {
                position: relative;
                
                position: absolute;
                right: 0;
                top: 0;
                background: #fff;
                height: 100%;
                margin-right: 0;
                width: 75%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .navigation__list {
                display: flex;
                flex-direction: column;
                width: 100%;

                .list__item {
                    margin-bottom: 10px;
                }
                
            }

            .button-sing-in {
                position: absolute;
                bottom: 24%;
                transform: translateX(50%);
                right: 38%;
            }
        }

        .header__content {
            .menu__btn {
                display: block;
            }

            #menu__toggle:checked ~ .menu__btn > span {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
            }

            #menu__toggle:checked ~ .menu__btn > span::before {
                top: 0;
                transform: rotate(0);
                -webkit-transform: rotate(0);
                -moz-transform: rotate(0);
                -ms-transform: rotate(0);
                -o-transform: rotate(0);
            }
            #menu__toggle:checked ~ .menu__btn > span::after {
                top: 0;
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
            }
              #menu__toggle:checked ~ div {
                visibility: visible;
                right: 0;
              }
        }
    }
    .preview {
        padding-top: 86px;
        .preview__content {
            text-align: center;
            .preview__title {
                font-size: 20px;
                line-height: 27px;
                text-align: center;
            }

            .preview__description {
                text-align: center;
                font-size: 18px;
            }

            .schedule-button {
                font-size: 18px;
                padding: 17px 13px;
            }
        }
    }

    .home-defenders {
        padding: 30px 0;

        .home-defenders__content {

            .home-defenders__subtitle {
                font-size: 14px;
                margin-bottom: 10px;
            }
            .home-defenders__title {
                font-size: 20px;
                line-height: 27px;
            }

            .home-defenders__description {
                font-size: 16px;
            }

            
        }
    }

    .how-it-works {
        padding: 30px 0;

        .how-it-works__content {
            .how-it-works__subtitle {
                margin-bottom: 10px;
            }

            .how-it-works__title {
                font-size: 24px;
                line-height: 30px;
            }

            .steps-help {
                flex-wrap: wrap;
                justify-content: center;
                .step {
                    flex-basis: 90%;
                    margin-bottom: 15px;

                    &:first-child {
                        margin-right: 0;
                    }

                    &:first-child .step__content::after {
                        left: 7px;
                        top: -20px;
                        padding: 3px 27px;
                        font-size: 16px;
                    }
                    &:nth-child(2) .step__content::after {
                        left: 7px;
                        top: -20px;
                        padding: 3px 27px;
                        font-size: 16px;
                    }
                    &:last-child .step__content::after {
                        left: 7px;
                        top: -20px;
                        padding: 3px 27px;
                        font-size: 16px;
                    }
                   
                    .step__img{
                        height: 180px;
                        img {
                            object-fit: fill;
                        }
                    }

                    .step__content {
                        padding: 20px 5px;

                        .step__title{
                            font-size: 18px;
                            line-height: 20px;
                            text-align: center;
                        }

                        .step__description {
                            font-size: 14px;
                            line-height: 18px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    .consult {
        padding: 10px 0;
        .consult__content {
            .consult__title {
                font-size: 22px;
                line-height: 25px;
            }

            .consult__description {
                font-size: 14px;
                line-height: 18px;
            }

            .schedule-button {
                font-size: 14px;
                padding: 17px 13px;
            }
        }
    }

    .footer {
        padding: 30px 0;
        
        &::after {
            top: 30px;
        }
        
        .social {
            order: 4;
        }

        .footer__menu {
            flex-direction: column;
            align-items: center;
            .block-menu {
                order: 3;
                text-align: center;
                margin-bottom: 15px;

                h5 {
                    font-size: 18px;
                }

                a,p {
                    font-size: 16px;
                }
            }

            form {
                order: 2;
                width: 90%;
                align-items: flex-start;
                margin-top: 20px;

                h5 {
                    text-align: center;
                }

                & > div {
                    text-align: center;
                    top: 0;
                    transform: none;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                input {
                    width: 68%;
                    padding: 5px;
                    font-size: 12px;
                    &::placeholder {
                        font-size: 14px;
                    }
                }
                button {
                    line-height: 14px;
                    font-size: 14px;
                    padding: 12px 15px;
                }
            }
        }
    }

    .footer .footer__menu .powered {
        color: #000;
        font-size: 12px;
        font-weight: 700;
        position: absolute;
        bottom: -15px;
        right: 0;
    }

    .footer .footer__menu .powered::after {
        height: 30px;
    }
    .footer .footer__menu form input {
        min-width: 10px;
    }
}
