$color-text: #000;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}



.wrapper {
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header {
    background: #fff;
    padding-top: 7px;
    padding-bottom: 7px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    .header__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        & > div {
            display: flex;
            align-items: center;
        }

        #menu__toggle {
            opacity: 0;
        }
        .menu__btn {
            display: flex;
            align-items: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: 26px;
            height: 26px;
            cursor: pointer;
            z-index: 1;
        }
        .menu__btn > span,
        .menu__btn > span::before,
        .menu__btn > span::after {
            display: block;
            position: absolute;
            width: 40px;
            right: 0;
            height: 4px;
            background-color: #4C957A;
            transition: 0.5s ease-in-out;
        }
        .menu__btn > span {
            width: 40px;
        }
        .menu__btn > span::before {
            content: "";
            top: -11px;
        }
        .menu__btn > span::after {
            content: "";
            top: 11px;
        }
        #menu__toggle,  .menu__btn {
            display:none;
        }
    }

    .header__navigation {
        margin-left: auto;
        margin-right: 17px;
        .navigation__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 795px;

            .list__link {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                color: $color-text;
            }
            .list__item {
                border-bottom: 2px solid #fff;
                transition: all .3s;
            }

            .list__item.active {
                border-bottom: 2px solid #4C957A;
            }

            .list__item:hover {
                border-bottom: 2px solid #4C957A;
            }
        }
    }

    .button-sing-in {
        background: #fff;
        border: none;
        cursor: pointer;
    }
}

.foreclosure-preview {
    padding-top: 101px;
    height: 100vh;
    background: url('../img/fpreclosure__bg.png') no-repeat;
    background-size: cover;
    background-clip: content-box;
    background-origin: content-box;
    box-sizing: border-box;

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .foreclosure-preview__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .foreclosure-preview__description {
        max-width: 702px;
    }

    .foreclosure-preview__subtitle {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
    }

    .foreclosure-preview__title {
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 49px;
        color: #FFFFFF;
        margin-top: 30px;
    }

    .foreclosure-preview__text {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        margin-top: 25px;
    }

    .foreclosure-preview__form-consultation {
        box-sizing: border-box;
        padding: 30px 16px 30px 24px;
        background: rgba(96, 200, 162, 0.8);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        max-width: 454px;
        width: 100%;
    }

    .form-consultation__title {
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
        text-transform: uppercase;
    }

    .form-consultation__subtitle  {
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
    }

    .form-consultation__description {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #E3E1E1;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .form-consultation__input {
        background: #FFFFFF;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 10px;
        border: none;
        padding: 16px 12px 12px;
        margin-bottom: 25px;

        &::placeholder {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: rgba(129, 129, 129, 0.7);
            text-transform: capitalize;
        }
    }
    .form-list-arrow {
        position: relative;
        &::after {
            content: "";
            display: block;
            top: 20px;
            right: 20px;
            width: 21px;
            height: 12px;
            background:url('../icon/arrow-list.svg') no-repeat;
            position: absolute;
        }
       
        
    }

    .form__list {
        width: 100%;
        background: #FFFFFF;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 10px;
        border: none;
        padding: 16px 12px 12px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: rgba(129, 129, 129, 0.7);
        position: relative;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        
    }

    .form-consultation__button {
        background: #76ECC1;
        border-radius: 10px;
        padding: 21px 138px;
        border: none;
        margin-top: 28px;
        cursor:pointer;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;

        transition: all .3s;

            &:hover {
                background: #4C957A;
            }

    }
}

.second-block {
    padding: 50px 0;

    .second-block__title {
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 37px;
        /* identical to box height */
        text-align: center;
        color: #000000;
        margin-bottom: 25px;
    }

    .second-block__description {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: $color-text;
    }
}

.how-it-works {
    padding: 50px 0;


    .how-it-works__subtitle {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #000000;
        margin-bottom: 30px;
    }

    .how-it-works__title {
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 37px;
        color: #000000;
        margin-bottom: 33px;
        text-align: center;
    }

    .process {
        max-width: 578px;
        position: relative;

        .process__title{
            font-style: normal;
            font-weight: bold;
            font-size: 25px;
            line-height: 30px;
            text-align: right;
            color: #000000;
        }

        .process__description {
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            text-align: right;
            color: #000000;
            margin-top: 15px;
        }
    }

    .process-wrapper {
        max-width: 1280px;
        margin: 0 auto;
        position: relative;
        &::after {
            content:'';
            width: 5px;
            height: 80%;
            background: url('../img/dashed-line.svg');
            background-position: top left;
            position: absolute;
            top: 0;
            left: 49%;
            transform: translateX(-50%);
            z-index: -10;
        }

        .process:first-child::after {
            content: '1';
            display: block;
            width:85px;
            height:85px;
            border-radius: 50%;
            background: #4C957A;
            position: absolute;
            font-style: normal;
            font-weight: 500;
            font-size: 35px;
            line-height: 43px;
            color: #FFFFFF;
            padding: 20px 35px;
            box-sizing: border-box;
            top: 0;
            right: -15%;
            z-index: -1;

        }

        .process:last-child::after {
            content: '3';
            display: block;
            width:85px;
            height:85px;
            border-radius: 50%;
            background: #4C957A;
            position: absolute;
            font-style: normal;
            font-weight: 500;
            font-size: 35px;
            line-height: 43px;
            color: #FFFFFF;
            padding: 20px 35px;
            box-sizing: border-box;
            top: 0;
            right: -15%;
            z-index: -1;
        }
        .process:nth-child(2) {
            display: flex;
            justify-content: space-between;
            max-width: 1200px;
            margin: 0 auto;
            margin-top: 67px;
            margin-bottom: 41px;

            

            .process__img {
                position: relative;
                border-radius: 50%;
                
                img {
                    width: 100%;
                    height: 100%;                
                }

                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: #4C957A;
                    border-radius: 50%;
                    position: absolute;
                    top: -24px;
                    z-index: -1;

                    left:-32px;
                }
            }
            .process__text {
                max-width: 577px;
                position: relative;
                &::after {
                    content: '2';
                    display: block;
                    width:85px;
                    height:85px;
                    border-radius: 50%;
                    background: #4C957A;
                    position: absolute;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 35px;
                    line-height: 43px;
                    color: #FFFFFF;
                    padding: 20px 32px;
                    box-sizing: border-box;
                    top: 0;
                    left: -14%;
                    z-index: -1;
                }

                
                .process__title {
                    text-align: left;
                } 
                .process__description {
                    text-align: left;
                }
            }
        }
    }

}

.consult {
    padding: 63px 0;
    background: url('../img/consult__bg.png') no-repeat;
    background-position: center;
    .consult__content {
        text-align: center;
    }
    .consult__title {
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 25px;
    }

    .consult__description {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 25px;
    }
    .schedule-button {
        border: none;
        background: #6CD3AE;
        border-radius: 10px;
        padding: 21px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #fff;
        cursor: pointer;
        transition: all .3s;
            &:hover {
                background: #4C957A;
            }
    }
}

.footer {
    padding: 20px 0;

    .footer__register {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom:62px ;
        border-bottom: 2px solid #4C957A;
        .input__join {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            padding: 20px;
            color: rgba(88, 88, 88, 0.7);
            border: none;
            background: rgba(196, 196, 196, 0.7);
            border-radius: 10px;
            width: 407px;

            &::placeholder {
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                color: rgba(88, 88, 88, 0.7);
                
            }
        }
    }
    .footer__menu {
        display: flex;
        justify-content: space-between;
        position: relative;
        border-top: 2px solid #4C957A;
        padding-top: 34px;

        form {
            display: flex;
            align-items: flex-start;

            input {
                background: rgba(255, 252, 252, 0.7);
                border: 1px solid #000000;
                box-sizing: border-box;
                border-radius: 10px;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                padding: 12px 16px;
                min-width: 329px;
                color: rgba(88, 88, 88, 1);
                &::placeholder {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    color: rgba(88, 88, 88, 0.7);
                }
            }

            button {
                background: #6CD3AE;
                border-radius: 10px;
                border: none;
                font-style: normal;
                font-weight: 500;
                font-size: 48px;
                line-height: 48px;
                color: #FFFFFF;
                margin-left: 7px;
                padding: 2px 10px;
                cursor: pointer;
                transition: .3s;;

                &:hover {
                    background: #4C957A;

                }
            }
        }

        .block-menu {
            display: flex;
            flex-direction: column;

            h5 {
                margin-bottom: 15px;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 24px;
                color: #000000;
            }

            a,p {
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                color: #000000;
            }

            .email {
                color: #6CD3AE;
                margin-bottom: 20px;
            }

            .phone {
                color: #6CD3AE;
            }
        }

        .social {
            width: 131px;
            display: flex;
            justify-content: space-between;
        }

        .powered {
            color:$color-text;
            font-size: 12px;
            font-weight: 700;
            position: absolute;
            bottom: 0;
            right: 0;
            span{
                color: #fff;
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 10px;
                height: 68px;
                background: #EB363C;
                top: 0;
                right: 17px;
                z-index: -1;
            }

        }
    }
}

@media (min-width: 768px) and (max-width: 1439px) {

    .logo {
        max-width: 105px;
    }
    .header .header__navigation .navigation__list .list__link {
        font-size: 12px;
    }

    .header .header__navigation .navigation__list {
        margin-top: 10px;
        width: 590px;
    }

    .header .header__content > div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .button-sing-in {
            order: 1;
        }

        .header__navigation{
            order: 2;
            margin-right: 0;
        }
    }

    .foreclosure-preview {
        .foreclosure-preview__description {
            flex-basis: 48%;
            .foreclosure-preview__title {
                font-size: 30px;
                line-height: 37px;
                margin-top: 20px;
            }

            .foreclosure-preview__text {
                font-size: 18px;
            }
        }

        .foreclosure-preview__form-consultation {
            flex-basis: 40%;
            padding: 20px 10px 20px 15px;
            .form-consultation__title {
                font-size: 22px;
            }
        }

        .form-consultation__input {
            font-size: 16px;
            margin-bottom: 10px;

            &::placeholder {
                font-size: 16px;
            }
        }

        .form__list {
            font-size: 16px;

            &::placeholder {
                font-size: 16px;
            }
        }


        .form-consultation__button {
            padding: 10px 30px;
            font-size: 16px;
        }
    }

    .how-it-works {
        .process {
            max-width: 315px;
            .process__title {
                font-size: 22px;
            }

            .process__description {
                font-size: 16px;
            }
        }

        .process-wrapper {
            
            .process:nth-child(2) {
                .process__text{
                    max-width: 315px;
                    transform: translateX(16%);
                    &::after{
                        width:75px;
                        height:75px;
                        padding: 15px 29px;
                        left: -26%;
                    }
                }

                .process__img {
                    max-width: 300px;
                    max-height: 300px;
                    transform: translateX(-12%);
                }

                

                max-width: none;
                justify-content: center;
                align-items: center;

            }

            &:after {
                height: 75%;
                left: 50%;
            }

            .process:first-child{
                margin: auto;
                transform: translateX(-66%);
                &::after {
                width:75px;
                height:75px;
                right: -27%;
                padding: 15px 32px;
                }
            }
    
            .process:last-child {
                margin: auto;
                transform: translateX(-66%);
                &::after {
                width:75px;
                height:75px;
                right: -27%;
                padding: 15px 29px;
                }
            }
        }
    }
    .consult {
        padding: 38px 0;
        background-size: cover;

        .consult__title {
            font-size: 24px;
        }

        .consult__description {
            font-size: 16px;
        }

        .schedule-button {
            font-size: 16px;
        }
    }

    .footer {
        padding-bottom: 30px;
        .footer__register{
            padding-bottom: 30px;
            .input__join {
                font-size: 16px;
                padding: 13px;
                &::placeholder {
                    font-size: 16px;
                }
                width: 310px;
            }
        }

        .footer__menu {
            flex-wrap: wrap;
            justify-content: space-around;

            .block-menu {
                flex-basis: 22%;
                text-align: center;
            }

            .contact-us,.social {
                margin-top: 30px;
            }

            form {
                align-items: flex-start;
            }
        }
    }

    .footer .footer__menu .powered::after {
        height: 45px;
    }
}


@media (min-width: 320px) and (max-width: 767px) {
    .logo {
        max-width: 100px;
    }

    .wrapper {
        max-width: 350px;
        padding: 0 10px;
    }
    .header {
        .header__content > div {
            visibility: hidden;
            margin: 0;
            position: fixed;
            top: 0;
            right: -100%;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.5);
            transition: 0.5s ease-in-out;
            
            .header__navigation {
                position: relative;
                
                position: absolute;
                right: 0;
                top: 0;
                background: #fff;
                height: 100%;
                margin-right: 0;
                width: 75%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .navigation__list {
                display: flex;
                flex-direction: column;
                width: 100%;

                .list__item {
                    margin-bottom: 10px;
                }
                
            }

            .button-sing-in {
                position: absolute;

                right: 55%;
                top: 3%;
            }
        }

        .header__content {
            .menu__btn {
                display: block;
            }

            #menu__toggle:checked ~ .menu__btn > span {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
            }

            #menu__toggle:checked ~ .menu__btn > span::before {
                top: 0;
                transform: rotate(0);
                -webkit-transform: rotate(0);
                -moz-transform: rotate(0);
                -ms-transform: rotate(0);
                -o-transform: rotate(0);
            }
            #menu__toggle:checked ~ .menu__btn > span::after {
                top: 0;
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
            }
              #menu__toggle:checked ~ div {
                visibility: visible;
                right: 0;
              }
        }
    }

    .foreclosure-preview {
        padding-top: 86px;
        
        height: auto;
        .foreclosure-preview__text {
            font-size: 16px;
            text-align: center;
        }
        .foreclosure-preview__content {
            flex-direction: column;
            .foreclosure-preview__description {
                .foreclosure-preview__title {
                    font-size: 24px;
                    line-height: 27px;
                    text-align: center;
                }
    
                .foreclosure-preview__subtitle {
                    font-size: 18px;
                    text-align: center;
                    margin-top: 10px;
                }
    
                
            }

            .foreclosure-preview__form-consultation {
                padding: 6px 8px 10px 10px;
                margin-bottom: 10px;
                margin-top: 10px;

                .form-consultation__title {
                    font-size: 22px;
                }

                .form-consultation__subtitle {
                    font-size: 18px;
                }

                .form-consultation__description {
                    margin: 10px auto;
                }

                .form-consultation__input {
                    margin-bottom: 10px;
                    font-size: 14px;
                    &::placeholder {
                        font-size: 14px;
                    }
                }
                .form__list {
                    font-size: 14px;
                     &::placeholder {
                         font-size: 14px;
                     }
                }

                .form-consultation__button {
                    font-size: 16px;
                    padding: 10px 20px
                }
            }
            
        }
    }

    .second-block {
        padding: 30px 0;

        .second-block__content {

            .second-blck__subtitle {
                font-size: 14px;
                margin-bottom: 10px;
            }
            .second-block__title {
                font-size: 20px;
                line-height: 27px;
            }

            .second-block__description {
                font-size: 16px;
            }  
        }
    }
    .consult {
        padding: 10px 0;
        .consult__content {
            .consult__title {
                font-size: 22px;
                line-height: 25px;
            }

            .consult__description {
                font-size: 14px;
                line-height: 18px;
            }

            .schedule-button {
                font-size: 14px;
                padding: 17px 13px;
            }
        }
    }

    .how-it-works {
        .how-it-works__content {
            .process-wrapper {
                &::after {
                    display: none;
                }
                .process {

                    &::after {
                        display: none;
                    }

                    &:nth-child(2) {
                        .process__img {
                            display: none;
                        }

                        .process__text {
                            .process__title {
                                text-align: center;
                                font-size: 20px;
                            }
                            &::after{
                                display:none;
                            }
                            .process__description {
                                text-align: center;
                            }
                        }
                    }
                    .process__title {
                        text-align: center;
                        font-size: 20px;
                    }
                    .process__description {
                        text-align: center;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .footer {
        padding: 30px 0;
        

        
        .social {
            order: 4;
        }

        .footer__menu {
            flex-direction: column;
            align-items: center;
            .logo {
                order:1;
            }
            .block-menu {
                order: 3;
                text-align: center;
                margin-bottom: 15px;

                h5 {
                    font-size: 18px;
                }

                a,p {
                    font-size: 16px;
                }
            }

            form {
                order: 2;
                width: 90%;
                align-items: flex-start;
                margin-top: 20px;
                input {
                    width: 90%;
                    padding: 5px;
                    font-size: 12px;
                    &::placeholder {
                        font-size: 14px;
                    }
                }
                button {
                    line-height: 14px;
                    font-size: 14px;
                    padding: 12px 15px;
                }
            }
        }


        
    }

    .footer .footer__menu .powered {
        color: #000;
        font-size: 12px;
        font-weight: 700;
        position: absolute;
        bottom: -15px;
        right: 0;
    }

    .footer .footer__menu .powered::after {
        height: 30px;
    }
    .footer .footer__menu form input {
        min-width: 10px;
    }
}