* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.header {
  background: #fff;
  padding-top: 7px;
  padding-bottom: 7px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.header .header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header .header__content > div {
  display: flex;
  align-items: center;
}
.header .header__content #menu__toggle {
  opacity: 0;
}
.header .header__content .menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.header .header__content .menu__btn > span,
.header .header__content .menu__btn > span::before,
.header .header__content .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 40px;
  right: 0;
  height: 4px;
  background-color: #4C957A;
  transition: 0.5s ease-in-out;
}
.header .header__content .menu__btn > span {
  width: 40px;
}
.header .header__content .menu__btn > span::before {
  content: "";
  top: -11px;
}
.header .header__content .menu__btn > span::after {
  content: "";
  top: 11px;
}
.header .header__content #menu__toggle, .header .header__content .menu__btn {
  display: none;
}
.header .header__navigation {
  margin-left: auto;
  margin-right: 17px;
}
.header .header__navigation .navigation__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 795px;
}
.header .header__navigation .navigation__list .list__link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000;
}
.header .header__navigation .navigation__list .list__item {
  border-bottom: 2px solid #fff;
  transition: all 0.3s;
}
.header .header__navigation .navigation__list .list__item.active {
  border-bottom: 2px solid #4C957A;
}
.header .header__navigation .navigation__list .list__item:hover {
  border-bottom: 2px solid #4C957A;
}
.header .button-sing-in {
  background: #fff;
  border: none;
  cursor: pointer;
}

.register {
  padding-top: 101px;
  padding-bottom: 30px;
  text-align: center;
}
.register .register__title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
  text-align: center;
  margin-bottom: 40px;
}
.register .register__form {
  margin: 0 auto;
  text-align: center;
  max-width: 420px;
}
.register .register__form input {
  background: #FFFFFF;
  border: 2px solid #868686;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid #868686;
  font-size: 22px;
  width: 100%;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 30px;
}
.register .register__form p {
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(129, 129, 129, 0.7);
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
}
.register .register__form div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.register .register__form div a {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.7);
}
.register .register__form .sing-in {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  background: #6CD3AE;
  border-radius: 10px;
  border: none;
  padding: 21px 127px;
  cursor: pointer;
  margin-bottom: 40px;
}
.register .register {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.footer {
  padding: 20px 0;
}
.footer .footer__register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 62px;
  border-bottom: 2px solid #4C957A;
}
.footer .footer__register .input__join {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 20px;
  color: rgba(88, 88, 88, 0.7);
  border: none;
  background: rgba(196, 196, 196, 0.7);
  border-radius: 10px;
  width: 407px;
}
.footer .footer__register .input__join::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(88, 88, 88, 0.7);
}
.footer .footer__menu {
  display: flex;
  justify-content: space-between;
  position: relative;
  border-top: 2px solid #4C957A;
  padding-top: 34px;
}
.footer .footer__menu form {
  display: flex;
  align-items: flex-end;
}
.footer .footer__menu form input {
  background: rgba(255, 252, 252, 0.7);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 12px 16px;
  color: #585858;
}
.footer .footer__menu form input::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(88, 88, 88, 0.7);
}
.footer .footer__menu form button {
  background: #6CD3AE;
  border-radius: 10px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
  margin-left: 7px;
  padding: 2px 10px;
  cursor: pointer;
  transition: 0.3s;
}
.footer .footer__menu form button:hover {
  background: #4C957A;
}
.footer .footer__menu .block-menu {
  display: flex;
  flex-direction: column;
}
.footer .footer__menu .block-menu h5 {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.footer .footer__menu .block-menu a, .footer .footer__menu .block-menu p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.footer .footer__menu .block-menu .email {
  color: #6CD3AE;
  margin-bottom: 20px;
}
.footer .footer__menu .block-menu .phone {
  color: #6CD3AE;
}
.footer .footer__menu .social {
  width: 131px;
  display: flex;
  justify-content: space-between;
}
.footer .footer__menu .powered {
  color: #000;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  right: 0;
}
.footer .footer__menu .powered span {
  color: #fff;
}
.footer .footer__menu .powered::after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 68px;
  background: #EB363C;
  top: 0;
  right: 17px;
  z-index: -1;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .logo {
    max-width: 105px;
  }

  .header .header__navigation .navigation__list .list__link {
    font-size: 12px;
  }

  .header .header__navigation .navigation__list {
    margin-top: 10px;
    width: 590px;
  }

  .header .header__content > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .header .header__content > div .button-sing-in {
    order: 1;
  }
  .header .header__content > div .header__navigation {
    order: 2;
    margin-right: 0;
  }

  .register .register__title {
    font-size: 24px;
  }
  .register .register__form {
    max-width: 380px;
  }
  .register .register__form input {
    font-size: 18px;
  }
  .register .register__form p {
    font-size: 18px;
  }
  .register .register__form div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .register .register__form div a {
    font-size: 18px;
  }
  .register .register__form .sing-in {
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 30px;
  }
  .register .register {
    font-size: 18px;
  }

  .footer {
    padding-bottom: 30px;
  }
  .footer .footer__register {
    padding-bottom: 30px;
  }
  .footer .footer__register .input__join {
    font-size: 16px;
    padding: 13px;
    width: 310px;
  }
  .footer .footer__register .input__join::placeholder {
    font-size: 16px;
  }
  .footer .footer__menu {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer .footer__menu .block-menu {
    flex-basis: 22%;
    text-align: center;
  }
  .footer .footer__menu .contact-us, .footer .footer__menu .social {
    margin-top: 30px;
  }
  .footer .footer__menu form {
    align-items: flex-start;
  }

  .footer .footer__menu .powered::after {
    height: 45px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .logo {
    max-width: 100px;
  }

  .wrapper {
    max-width: 350px;
    padding: 0 10px;
  }

  .header .header__content > div {
    visibility: hidden;
    margin: 0;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
  }
  .header .header__content > div .header__navigation {
    position: relative;
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
    height: 100%;
    margin-right: 0;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .header__content > div .navigation__list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .header .header__content > div .navigation__list .list__item {
    margin-bottom: 10px;
  }
  .header .header__content > div .button-sing-in {
    position: absolute;
    right: 55%;
    top: 3%;
  }
  .header .header__content .menu__btn {
    display: block;
  }
  .header .header__content #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }
  .header .header__content #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }
  .header .header__content #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
  .header .header__content #menu__toggle:checked ~ div {
    visibility: visible;
    right: 0;
  }

  .register .register__title {
    font-size: 24px;
  }
  .register .register__form {
    max-width: 280px;
  }
  .register .register__form input {
    font-size: 16px;
  }
  .register .register__form p {
    font-size: 16px;
  }
  .register .register__form div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .register .register__form div a {
    font-size: 16px;
  }
  .register .register__form .sing-in {
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 30px;
    padding: 10px 98px;
    width: 100%;
  }
  .register .register {
    font-size: 18px;
  }

  .footer {
    padding: 30px 0;
  }
  .footer .social {
    order: 4;
  }
  .footer .footer__menu {
    flex-direction: column;
    align-items: center;
  }
  .footer .footer__menu .logo {
    order: 1;
  }
  .footer .footer__menu .block-menu {
    order: 3;
    text-align: center;
    margin-bottom: 15px;
  }
  .footer .footer__menu .block-menu h5 {
    font-size: 18px;
  }
  .footer .footer__menu .block-menu a, .footer .footer__menu .block-menu p {
    font-size: 16px;
  }
  .footer .footer__menu form {
    order: 2;
    width: 90%;
    align-items: flex-start;
    margin-top: 20px;
  }
  .footer .footer__menu form input {
    width: 90%;
    padding: 5px;
    font-size: 12px;
  }
  .footer .footer__menu form input::placeholder {
    font-size: 14px;
  }
  .footer .footer__menu form button {
    line-height: 14px;
    font-size: 14px;
    padding: 12px 15px;
  }

  .footer .footer__menu .powered {
    color: #000;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    bottom: -15px;
    right: 0;
  }

  .footer .footer__menu .powered::after {
    height: 30px;
  }
}