* {
    box-sizing: border-box;
    color: #2C3647;
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.wrapper {
    max-width: 1075px;
    margin: 0 auto;
    padding:0 20px;
}

.header {
    background: #FFFFFF ;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    z-index: 3;
    position: fixed;
    width: 100%;
}

section {
    padding-left: 20px;
    padding-right: 20px;
}

.section-title {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    color: #2C3647;
}

.section-paragraph {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #2C3647;
    margin-top: 10px;
}

.section-paragraph span {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFC01E;
}

.title span {
    color: #FFC01E;
    font-weight: bold;
}

.section-list {
    margin-top: 20px;
}

.section-list-item {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 28px;
    color: #2C3647;
    list-style: none;
    position: relative;
    padding-left: 8px;
}

.section-list-item::before {
    content:"";
    display: block;
    position: absolute;
    width: 3px;
    height: 4px;
    border-radius: 50%;
    top: 12px;
    left: 0;
    background: #FFC01E;
}

.section-list-item span {
    font-weight: 600;
    color: #FFC01E;
}
/*styling header section*/

.header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-top: 30px;
    padding-bottom: 24px;
    position: relative;
    background: url(../img/logo.svg) no-repeat;
    background-position: top -7px left;
    z-index: 2;
}

.header__navigation {
    margin-left: auto;
    margin-right: 87px;
}

#menu__toggle {
    opacity: 0;
}

.menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}



.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 24px;
    right: 0;
    height: 2px;
    background-color: #616161;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
.menu__btn > span {
    width: 18px;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}

#menu__toggle, .menu__btn {
    display: none;
}

.menu {
    display: none;
    width: 24px;
    height: 18px;
    cursor: pointer;
}

.click-menu {
    width: 18px;
    height: 2px;
    background: #454545;
    position: relative;
}

.click-menu::before {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 24px;
    height: 2px;
    background: #454545;
}

.click-menu::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -8px;
    right: 0;
    width: 24px;
    height: 2px;
    background: #454545;
}

.navigation__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navigation__list .list__item {
    position: relative;
}



.list__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family:'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}
.header__navigation .submenu {
    visibility: hidden;
    opacity: 0;
    background: #ffffff;
    padding: 29px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 370px;
    left: -270px;
    position: absolute;
    padding: 29px 0 10px 34px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.navigation__list .list__item:last-child .list__link img {
    margin-left: 5px;
}

.header__navigation ul li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.header__navigation .submenu a {
    padding: 22px 9px 20px 75px;
    border-radius: 18px;
    max-width: 276px;
    font-family:'Nunito Sans', sans-serif;
    font-weight: 300;

}

.header__navigation .submenu a:hover{
    background: #F7F7F7 url(../img/list-item-1.svg) no-repeat;
}

.header__navigation .submenu a {
    font-family:'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
}

.header__navigation .submenu a:first-child {
    background: #fff url(../img/list-item-1.svg) no-repeat;
    background-size: 58px 33px;
    background-position: center left;
}

.header__navigation .submenu a:first-child:hover {
    background: #F7F7F7 url(../img/list-item12.svg) no-repeat;
    background-size: 58px 33px;
    background-position: center left;
}

.header__navigation .submenu a:nth-child(2) {
    background: #fff url(../img/list-item-2.svg) no-repeat;
    background-size: 58px 33px;
    background-position: center left;
}

.header__navigation .submenu a:nth-child(2):hover {
    background: #F7F7F7 url(../img/list-item21.svg) no-repeat;
    background-size: 58px 33px;
    background-position: center left;
}

.header__navigation .submenu a:nth-child(3) {
    background: #fff url(../img/list-item-3.svg) no-repeat;
    background-size: 58px 33px;
    background-position: center left;
}

.header__navigation .submenu a:nth-child(3):hover {
    background: #F7F7F7 url(../img/list-item32.svg) no-repeat;
    background-size: 58px 33px;
    background-position: center left;
}

.header__navigation .submenu a:nth-child(4) {
    background: #fff url(../img/list-item-4.svg) no-repeat;
    background-size: 58px 33px;
    background-position: center left;
}

.header__navigation .submenu a:nth-child(4):hover {
    background: #F7F7F7 url(../img/list-item41.svg) no-repeat;
    background-size: 58px 33px;
    background-position: center left;
}

.header__navigation .submenu a:last-child {
    background: #fff url(../img/list-item-5.svg) no-repeat;
    background-position: center left;
    background-size: 58px 33px;
}

.header__navigation .submenu a:last-child:hover {
    background: #F7F7F7 url(../img/list-item51.svg) no-repeat;
    background-size: 58px 33px;
    background-position: center left;
}

.submenu {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.list__item:not(:last-child) {
    margin-right: 30px;
}

.header__button-sing-in {
    border-radius: 30px;
    border: 2px solid rgba(44, 54, 71, 0.8);
    background: transparent;
    cursor: pointer;
    padding: 6px 42px;
    
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    -webkit-transition: 0.5s ease-in-out;
       -moz-transition: 0.5s ease-in-out;
         -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    position: relative;
}

.sing-in-icon {
    visibility: hidden;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}


.header__button-sing-in:hover {
    background: #2C3647;
    color: #fff;
    padding-left: 32px;
    padding-right: 52px;
}

.header__button-sing-in:hover  .sing-in-icon {
    visibility: visible;
    left: 75%;
}


/* styling signature-management */

.signature-management {
    padding-top: 115px;
}

.signature-management__content {
    display: flex;
    justify-content: space-between;
}

.signature-management__title {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    text-transform: uppercase;
    color: #2C3647;
    position: relative;
    margin-top: 68px;
    margin-bottom: 10px;
}


.signature-management__title::after{
    content: "Management";
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 100px;
    text-transform: uppercase;
    color: rgba(44, 54, 71, 0.05);
    top: -48px;
    left: -50px;
    
}

.signature-management__title span {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 34px;
    text-transform: uppercase;
    color: #FFC01E;
}

.signature-management__paragraph {
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    color: #2C3647;
    font-family: 'Nunito Sans', sans-serif;
    max-width: 554px;
    margin-bottom: 30px;
}

.signature-management__img {
    max-width: 400px;
}

.signature-management__img img {
    width: 100%;
}

.signature-management__content {
    align-items: center;
}

.signature-management__description .demo{
    background: #FFC01E;
    border-radius: 30px;
    padding: 10px 17px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */
    text-align: center;
    text-transform: uppercase;
    color: #63542E;
    text-decoration: none;
    transition: .3s;
    border: none;
    cursor: pointer;
    -webkit-transition: 0.5s ease-in-out;
       -moz-transition: 0.5s ease-in-out;
         -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;

    
}

.signature-management__description .demo:hover {
    background: #FFC01E;
    transform: scale(1.1,1.1);
}


/* styling amplify-promote */

.amplify-promote {
    padding: 30px;
}

.amplify-promote__img {
    position: relative;
    flex-basis: 50%;

}

.amplify-promote__description {
    flex-basis: 48%;
}

.amplify-promote__img img:nth-child(2) {
    width: 100%;
}

.amplify-promote__img .form {
    position: absolute;
    top: 27%;
    left: 29%;
    animation: fadeInDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
}

.amplify-promote__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* styling protect-inforce */

.protect-inforce {
    padding: 30px
}

.protect-inforce__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.protect-inforce__img {
    position: relative;
    flex-basis: 50%;
}


.protect-inforce__img img:nth-child(2) {
    width: 100%;
}
.protect-inforce__description {
    flex-basis: 48%;
}

.protect-inforce__img .plane {
    position: absolute;
    top: 26%;
    left: 28%;
    animation: zoomInUp; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
}


/*styling signature*/

.signature__paragraph {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    color: #000000;
}
.signature__title {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 68px;
    text-align: center;
    color: #000000;
    margin-top: 10px;
}


/* styling secure */

.secure {
    padding: 20px;
}

.secure__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secure__img {
    position: relative;
    min-width: 400px;
}

.secure__img img:nth-child(2) {
    width: 100%;
}

.secure__img .form {
    position: absolute;
    top: 27%;
    left: 24%;
    min-width: 305px;
    animation: fadeInDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
} 

.software__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.software__img {
    position: relative;
    flex-basis: 50%;
}

.software__description {
    flex-basis: 48%;
}

.software__img img:nth-child(2) {
    width: 100%;
}

.software__img .plane {
    position: absolute;
    top: 21%;
    left: 37%;
    animation: zoomInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
}

.trial {
    padding: 50px 0;
    text-align: center;
}

.trial__title {
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #2C3647;
    margin-bottom: 5px;
}

.trial__paragraph {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #2C3647;
    margin-bottom: 54px;
}

.learn-more {
    font-family: 'Nunito Sans', sans-serif;
    background: #FFC01E;
    border-radius: 30px;
    padding: 14px 31px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    border: none;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #63542E;
    cursor: pointer;
    transition: .3s;
}

.learn-more:hover {
    transform: scale(1.1,1.1);
}

.footer {
    background: #F4F5F6 ;
    padding-top: 40px;
    padding-bottom: 20px;
    position: relative;
}

.footer::before {
    content: "";
    width: 138px;
    height: 138px;
    position: absolute;
    background: url(../img/footer-ellipse.svg);
    top:-51px;
    left: 90px;
}

.footer .footer-span:first-child {
    margin-right: 20px;
}

.footer__navigation {
    margin-bottom: 50px;
}

.navigation__list {
    display: flex;
    list-style: none;
    justify-content: center;
}

.footer-list__link {
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    
}

.navigation__list .footer-list__item:not(:last-child) {
    margin-right: 30px;
}

.footer-description {
    margin: 0 auto;
    max-width: 289px;
    text-align: center;
}

.footer-span, .copyright {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
    font-size: 14px;
    line-height: 14px;
    
    text-align: center;
}

.copyright {
    margin-top: 10px;
    margin-bottom: 0;
}

.swiper-container {
    height: 310px;
}

.swiper-slide {
    text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      flex-direction: column;
}

.slide-img {
    position: relative;
    max-width: 306px;
    
    display: flex; 
    flex-direction: column-reverse;
}

.slide-img .img-heigh {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slide-img img {
    width: 100%;
}

.preview:hover ~ .img-color {
    opacity: 1;
}
.preview svg {
    margin-right: 5px;
}
.preview svg path {
    fill: #ABC6EB;
    transition: .3s;
}

.preview:hover svg path {
    fill: #FFC01E;
}

.slide-description {
    margin-top: 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}

.preview {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}


.img-color {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
}

.swiper-pagination-bullet-active {
    background: #FFD465;
}
.swiper-pagination-bullet{
    width: 13px;
    height: 13px;
    position: relative;
    bottom: -13px;
}

@media (min-width: 962px) and (max-width: 1210px) {

    .signature-management__title  {
        font-size: 38px;
        line-height: 40px;
    }

    .signature-management__title::after {
        font-size: 70px;
        left: -30px;
    }

    .amplify-promote__img {
        min-width: 455px;
    }

    .amplify-promote__img img:nth-child(2) {
        width: 100%;
    }

    .amplify-promote__img .form {
        top: 21%;
        left: 26%;
    }
    .footer::before {
        left:-10px;
    }
}

@media (max-width: 961px) {
    .header__content {
        flex-direction: column;
        align-items: flex-end;
    }

    .header__navigation {
        margin: 0;
        order: 2;
    }

    .header__button-sing-in {
        margin-bottom: 10px;
        order: 1;
    }

    .signature-management__img {
        min-width: 400px;
        display: flex;
    }

    .signature-management__img img {
        width: 100%;
    }

    .signature-management__title {
        font-size: 28px;
        line-height: 28px;
    }

    .signature-management__title span {
        font-size: 28px;
        line-height: 28px;
    }

    .signature-management__title::after {
        font-size: 50px;
        left: -20px
    }

    .signature-management__paragraph {
        font-size: 16px;
        line-height: 20px;
    }

    .section-title {
        font-size: 22px;
    }

    .section-paragraph {
        font-size: 17px;
    }

    .section-list-item {
        font-size: 16px;
    }

    .amplify-promote__img .form {
        max-width: 170px;
        top: 22%;
        left: 25%;
    }

    .protect-inforce__img .plane {
        max-width: 75px;
    }

    .signature__paragraph {
        font-size: 18px;
    }
    .signature__title {
        font-size: 20px;
        line-height: 20px;
    }

    .secure__img {
        min-width: 300px;
    }

    .secure__img img:nth-child(2) {
        width: 100%;
    }

    .secure__img .form {
        top: 19%;
        left: 16%;
        min-width: 210px;
    }

    .trial__title {
        font-size: 24px;
    }

    .trial__paragraph {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .footer::before {
        left: -75px;
    }
}

@media (max-width: 767px) {

    .header{
        width: 100%;
    }
    .wrapper {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }
    .header__navigation {
        visibility: hidden;
        margin: 0;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100vw;
        background-color:rgba(255,255,255,.5);
        -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    
    }
    .header .navigation__list {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100vh;
        width: 70%;
        background: #fff;
        margin-left: auto;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        padding-top: 35%;
    }

    .navigation__list .list__item {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .navigation__list .list__link {
        font-size: 18px;
    }
    .header__navigation .submenu {
        padding: 0;
        position: absolute;
        box-shadow: none;
        top: 30px;
        width: 300px;
        left: 50%;
        transform: translateX(-50%);
        text-align: left;
        max-width: 300px;
        margin-left: 40px;
        
    }

    .header__navigation  ul li .submenu a:first-child,
    .header__navigation  ul li .submenu a:nth-child(2),
    .header__navigation  ul li .submenu a:nth-child(3),
    .header__navigation  ul li .submenu a:nth-child(4),
    .header__navigation  ul li .submenu a:last-child  {
        background: none;
        padding: 0;
        margin-bottom: 20px;
        max-width: 220px;
        width: 100%;
        font-size: 16px;
        line-height: 1.5;
        font-family: 'Nunito Sans', sans-serif;
        text-align: center;
        display: block;
        
}

    .header__navigation  ul li .submenu a:first-child:active,
    .header__navigation  ul li .submenu a:nth-child(2):active,
    .header__navigation  ul li .submenu a:nth-child(3):active,
    .header__navigation  ul li .submenu a:nth-child(4):active,
    .header__navigation  ul li .submenu a:last-child:active {
        background: none;
    }
    .header__navigation .submenu a:first-child:hover,
    .header__navigation .submenu a:nth-child(2):hover,
    .header__navigation .submenu a:nth-child(3):hover,
    .header__navigation .submenu a:nth-child(4):hover,
    .header__navigation .submenu a:last-child:hover{
        background: none;
    }

    

    .header__navigation .visible {
        display: block;
    }

    .header__navigation .notvisible {
        display: none;
    }


    .header__navigation ul li:active ~ .navigation__list{
        margin-top: -20px;
    }

    #menu__toggle, .menu__btn {
        display: block;
    }
    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .header__navigation {
    visibility: visible;
    right: 0;
    }
    #menu__toggle:checked ~ .menu__btn {
    position: fixed;
    top: 20px;
    right: 20px;
    transform: none;
    }

    .header__content {
        background: url(../img/logo-m.svg) no-repeat;
        background-position-y: -10px;
    }

    .menu {
        display: block;
    }
    .header__button-sing-in {
        display: none;
    }

    .preview {
        display: none;
    }

    .img-color {
        opacity: 1;
    }
    
    .section-title {
        text-align: center;
    }

    .section-paragraph {
        text-align: center;
    }

    .signature-management {
        padding-top: 66px;
    }

    .trial__title {
        font-size: 20px;
    }

    .trial__paragraph {
        font-size: 14px;
        line-height: 16px;
    }

    .signature-management__title {
        text-align: center;
    }

    .signature-management__title::after {
        font-size: 30px;
        left: 50%;
        transform: translateX(-50%);
    }

    .signature-management__paragraph {
        text-align: center;
        font-size: 15px;
    }

    .signature-management__description {
        text-align: center;
    }

    .signature-management__img {
        display: none;
    }

    .amplify-promote__img .form {
        max-width: 115px;
       
    }

    .signature-management {
        overflow: hidden;
    }

    .amplify-promote__content {
        flex-direction: column;
    }

    .protect-inforce__content {
        flex-direction: column-reverse;
    }

    .protect-inforce__img .plane {
        max-width: 40px;
    }

    .secure__content {
        flex-direction: column;
    }

    .software__content {
        flex-direction: column;
    }

    .software__img .plane {
        max-width: 40px;
    }

    .footer .navigation__list {
        flex-direction: column;
        align-items: center;
        
    }
    .navigation__list .footer-list__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .footer::before {
        left: -65px;
    }
}