* {
    box-sizing: border-box;
    color: #2C3647;
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1075px;
    margin: 0 auto;
    padding:0 20px;
}

.header {
    background: #FFFFFF ;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    z-index: 3;
    position: fixed;
    width: 100%;
}

section {
    padding-left: 20px;
    padding-right: 20px;
}

.title span {
    color: #FFC01E;
    font-weight: bold;
}

.header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-top: 30px;
    padding-bottom: 24px;
    position: relative;
    background: url(../img/logo.svg) no-repeat;
    background-position: top -7px left;
    z-index: 2;
}

.header__navigation {
    margin-left: auto;
    margin-right: 87px;
}

#menu__toggle {
    opacity: 0;
}

.menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}



.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 24px;
    right: 0;
    height: 2px;
    background-color: #616161;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
.menu__btn > span {
    width: 18px;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}

#menu__toggle, .menu__btn {
    display: none;
}

.menu {
    display: none;
    width: 24px;
    height: 18px;
    cursor: pointer;
}

.click-menu {
    width: 18px;
    height: 2px;
    background: #454545;
    position: relative;
}

.click-menu::before {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 24px;
    height: 2px;
    background: #454545;
}

.click-menu::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -8px;
    right: 0;
    width: 24px;
    height: 2px;
    background: #454545;
}

.navigation__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navigation__list .list__item {
    position: relative;
}

.list__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family:'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}
.header__navigation .submenu {
    visibility: hidden;
    opacity: 0;
    background: #ffffff;
    padding: 29px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 370px;
    left: -270px;
    position: absolute;
    padding: 29px 0 10px 34px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.navigation__list .list__item:last-child .list__link img {
    margin-left: 5px;
}

.header__navigation ul li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.header__navigation .submenu a {
    padding: 22px 9px 20px 75px;
    border-radius: 18px;
    max-width: 276px;
    font-family:'Nunito Sans', sans-serif;
    font-weight: 300;

}

.header__navigation .submenu a:hover{
    background: #F7F7F7 url(../img/list-item-1.svg) no-repeat;
}

.header__navigation .submenu a {
    font-family:'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
}

.header__navigation .submenu a:first-child {
    background: #fff url(../img/list-item-1.svg) no-repeat;
    background-size: 58px 33px;
    background-position: center left;
}

.header__navigation .submenu a:first-child:hover {
    background: #F7F7F7 url(../img/list-item12.svg) no-repeat;
    background-size: 58px 33px;
    background-position: center left;
}

.header__navigation .submenu a:nth-child(2) {
    background: #fff url(../img/list-item-2.svg) no-repeat;
    background-size: 58px 33px;
    background-position: center left;
}

.header__navigation .submenu a:nth-child(2):hover {
    background: #F7F7F7 url(../img/list-item21.svg) no-repeat;
    background-size: 58px 33px;
    background-position: center left;
}

.header__navigation .submenu a:nth-child(3) {
    background: #fff url(../img/list-item-3.svg) no-repeat;
    background-size: 58px 33px;
    background-position: center left;
}

.header__navigation .submenu a:nth-child(3):hover {
    background: #F7F7F7 url(../img/list-item32.svg) no-repeat;
    background-size: 58px 33px;
    background-position: center left;
}

.header__navigation .submenu a:nth-child(4) {
    background: #fff url(../img/list-item-4.svg) no-repeat;
    background-size: 58px 33px;
    background-position: center left;
}

.header__navigation .submenu a:nth-child(4):hover {
    background: #F7F7F7 url(../img/list-item41.svg) no-repeat;
    background-size: 58px 33px;
    background-position: center left;
}

.header__navigation .submenu a:last-child {
    background: #fff url(../img/list-item-5.svg) no-repeat;
    background-position: center left;
    background-size: 58px 33px;
}

.header__navigation .submenu a:last-child:hover {
    background: #F7F7F7 url(../img/list-item51.svg) no-repeat;
    background-size: 58px 33px;
    background-position: center left;
}

.submenu {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.list__item:not(:last-child) {
    margin-right: 30px;
}

.header__button-sing-in {
    border-radius: 30px;
    border: 2px solid rgba(44, 54, 71, 0.8);
    background: transparent;
    cursor: pointer;
    padding: 6px 42px;
    
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    -webkit-transition: 0.5s ease-in-out;
       -moz-transition: 0.5s ease-in-out;
         -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    position: relative;
}

.sing-in-icon {
    visibility: hidden;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}


.header__button-sing-in:hover {
    background: #2C3647;
    color: #fff;
    padding-left: 32px;
    padding-right: 52px;
}

.header__button-sing-in:hover  .sing-in-icon {
    visibility: visible;
    left: 75%;
}

/*styling smart-invoicing section*/

.smart-invoicing {
    padding-top: 100px;
    height: 100vh;
}

.smart-invoicing__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.smart-invoicing__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 37px;
    color: #303A4B;
    margin-bottom: 40px;
    max-width: 900px;
}

.smart-invoicing__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 28px;
    color: #303A4B;
    margin-bottom: 47px;
    max-width: 900px;
}

.smart-invoicing__paragraph {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    color: #676767;
    margin-bottom: 61px;
    max-width: 900px;
}
.smart-invoicing__description {
    flex-basis: 44%;
}

.smart-invoicing__paragraph span{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 29px;
    color: #676767;
}

.smart-invoicing__register-button {
    border-radius: 30px;
    border: 2px solid #303A4B;
    padding: 10px 45px;
    font-family: 'Montserrat', sans-serif;
    background: #fff;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #303A4B;
}

.smart-invoicing__bg {
    flex-basis: 55%;
}

.smart-invoicing__bg img{
    width: 100%;
}

.professional-invoices-delivered{
    padding-bottom: 85px;
}

.professional-invoices-delivered__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 28px;
    line-height: 49px;
    text-align: center;
    color: #303A4B;
}

.benefits-of-professional-accounts {
    margin-top: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.benefit__item {
    display: flex;
    align-items: center;
    max-height: 30px;
}

.benefit__item img {
    max-height: 30px;
}

.benefit__paragraph {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #303A4B;
    margin-left: 23px;
}

.block-professional-invoice__img {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 90px auto 0;
    max-width: 1185px;
    
}

.block-professional-invoice__img .third-invoice{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-height: 515px;
    
}

.block-professional-invoice__img .third-invoice img,
.block-professional-invoice__img .second-invoice img,
.block-professional-invoice__img .first-invoice img{
    max-height: 515px;
}

.invoicing-options {
    padding-top: 85px;
}

.invoicing-options__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    color: #303A4B;
}

.invoicing-options__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 70px;
}

.invoicing-options__block {
    flex-basis: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.invoicing-options__block img {
    max-height: 60px;
}

.option__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #303A4B;
    margin-top: 15px;
    position: relative;
}

.option__title::after {
    content: "";
    height: 2px;
    width: 163px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #FCBF24;
    display: block;
    bottom: -24px;
}

.option__paragraph {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #676767;
    margin-top: 39px;
}

.about-application {
    padding-top: 30px;
    padding-bottom: 70px;
}

.about-application__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-application__bg img{
    max-height: 430px;
}

.about-application-bg__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #FDC740;
    text-align: center;
    margin-top: 5px;
}

.about-application__description {
    max-width: 846px;
}

.about-application__description .about-application__merit:not(:last-child) {
    margin-bottom: 30px;
}


.merit__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #303A4B;
    margin-bottom: 23px;
}

.about-application__description .about-application__merit:last-child .merit__title {
    margin-bottom: 0;
}

.merit__paragraph {
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #676767;
}

.save {
    background: #FDC740;
    padding: 40px 0;
}

.save__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.save__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
    color: #FFFFFF;
}

.save__button-sign-up {
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 12px 50px;
    background: transparent;
    margin-left: 54px;
}

.invoices {
    padding-top: 60px;
    padding-bottom: 70px;
}

.invoices__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 28px;
    line-height: 49px;
    text-align: center;
}

.invoices__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
}

.invoices__content .invoices__block:nth-child(3n+3) {
    padding-left: 50px;
}



.invoices__block {
    flex-basis: 27%;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.invoices__block-paragraph {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #303A4B;
    margin-left: 16px;
    max-width: 256px;
}

.footer {
    padding: 42px 0;
}

.footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-description .copyright, .footer-span {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #303A4B;
}

.footer-description .copyright {
    margin-bottom: 14px;
}

.footer-span {
    margin-right: 40px;
}

.footer__navigation .navigation__list .footer-list__link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #303A4B;
}

.footer__navigation .navigation__list .footer-list__item {
    margin-left: 45px;
}

@media (min-width: 962px) and (max-width: 1210px) {
    
}