* {
    box-sizing: border-box;
    color: #2C3647;
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1075px;
    margin: 0 auto;
    padding:0 20px;
}

.header {
    background: #FFFFFF ;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    z-index: 3;
    position: fixed;
    width: 100%;
}

section {
    padding-left: 20px;
    padding-right: 20px;
}

.title span {
    color: #FFC01E;
    font-weight: bold;
}
/*styling header section*/

.header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-top: 30px;
    padding-bottom: 24px;
    position: relative;
    background: url(../img/logo.svg) no-repeat;
    background-position: top -7px left;
    z-index: 2;
}

.header__navigation {
    margin-left: auto;
    margin-right: 87px;
}

#menu__toggle {
    opacity: 0;
}

.menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}



.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 24px;
    right: 0;
    height: 2px;
    background-color: #616161;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
.menu__btn > span {
    width: 18px;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}

#menu__toggle, .menu__btn {
    display: none;
}

.menu {
    display: none;
    width: 24px;
    height: 18px;
    cursor: pointer;
}

.click-menu {
    width: 18px;
    height: 2px;
    background: #454545;
    position: relative;
}

.click-menu::before {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 24px;
    height: 2px;
    background: #454545;
}

.click-menu::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -8px;
    right: 0;
    width: 24px;
    height: 2px;
    background: #454545;
}

.navigation__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navigation__list .list__item {
    position: relative;
}

.list__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family:'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}
.header__navigation .submenu {
    visibility: hidden;
    opacity: 0;
    background: #ffffff;
    padding: 29px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 370px;
    left: -270px;
    position: absolute;
    padding: 29px 0 10px 34px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.navigation__list .list__item:last-child .list__link img {
    margin-left: 5px;
}

.header__navigation ul li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.header__navigation .submenu a {
    padding: 22px 9px 20px 75px;
    border-radius: 18px;
    max-width: 276px;
    font-family:'Nunito Sans', sans-serif;
    font-weight: 300;

}

.header__navigation .submenu a:hover{
    background: #F7F7F7 url(../img/list-item-1.svg) no-repeat;
}

.header__navigation .submenu a {
    font-family:'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
}

.header__navigation .submenu a:first-child {
    background: #fff url(../img/list-item-1.svg) no-repeat;
    background-size: 58px 33px;
    background-position: center left;
}

.header__navigation .submenu a:first-child:hover {
    background: #F7F7F7 url(../img/list-item12.svg) no-repeat;
    background-size: 58px 33px;
    background-position: center left;
}

.header__navigation .submenu a:nth-child(2) {
    background: #fff url(../img/list-item-2.svg) no-repeat;
    background-size: 58px 33px;
    background-position: center left;
}

.header__navigation .submenu a:nth-child(2):hover {
    background: #F7F7F7 url(../img/list-item21.svg) no-repeat;
    background-size: 58px 33px;
    background-position: center left;
}

.header__navigation .submenu a:nth-child(3) {
    background: #fff url(../img/list-item-3.svg) no-repeat;
    background-size: 58px 33px;
    background-position: center left;
}

.header__navigation .submenu a:nth-child(3):hover {
    background: #F7F7F7 url(../img/list-item32.svg) no-repeat;
    background-size: 58px 33px;
    background-position: center left;
}

.header__navigation .submenu a:nth-child(4) {
    background: #fff url(../img/list-item-4.svg) no-repeat;
    background-size: 58px 33px;
    background-position: center left;
}

.header__navigation .submenu a:nth-child(4):hover {
    background: #F7F7F7 url(../img/list-item41.svg) no-repeat;
    background-size: 58px 33px;
    background-position: center left;
}

.header__navigation .submenu a:last-child {
    background: #fff url(../img/list-item-5.svg) no-repeat;
    background-position: center left;
    background-size: 58px 33px;
}

.header__navigation .submenu a:last-child:hover {
    background: #F7F7F7 url(../img/list-item51.svg) no-repeat;
    background-size: 58px 33px;
    background-position: center left;
}

.submenu {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.list__item:not(:last-child) {
    margin-right: 30px;
}

.header__button-sing-in {
    border-radius: 30px;
    border: 2px solid rgba(44, 54, 71, 0.8);
    background: transparent;
    cursor: pointer;
    padding: 6px 42px;
    
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    -webkit-transition: 0.5s ease-in-out;
       -moz-transition: 0.5s ease-in-out;
         -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    position: relative;
}

.sing-in-icon {
    visibility: hidden;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}


.header__button-sing-in:hover {
    background: #2C3647;
    color: #fff;
    padding-left: 32px;
    padding-right: 52px;
}

.header__button-sing-in:hover  .sing-in-icon {
    visibility: visible;
    left: 75%;
}

.schedule {
    padding-top: 125px;
    padding-bottom: 125px;
}

.schedule__content {
    
}

.schedule__subtitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #303A4B;
    margin-bottom: 11px;
}

.schedule__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    color: #303A4B;
    max-width: 790px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 31px;
}

.schedule__bg {
    margin: 0 auto;
    text-align: center;
}

.schedule__bg {
    position: relative;
}

.schedule-people {
    position: absolute;
    bottom: 6%;
    right: 24%;
}

.second-block__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-block__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: #303A4B;
    margin-bottom: 21px;
}

.second-block__paragraph {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    color: #676767;
    max-width: 755px;
    margin-bottom: 49px;
}

.second-block__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #303A4B;
}

/* styling second-block section */

.second-block {
    padding-top: 62px;
    padding-bottom: 57px;
    background: #FAFAFA;
}

.second-block__bg {
    position: relative;

}


.second-block__bg img:first-child {
    max-height: 350px;
}

.second-block__bg .first-image {
    position: absolute;
    right: 40%;
    top: -6%;
    
}

.second-block__bg .second-image {
    position: absolute;
    top: -13%;
    right: 20%;
    
}

/* styling for-whom section */

.for-whom {
    padding-top: 73px;
    padding-bottom: 90px;
}

.for-whom__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 55px;
    text-align: center;
    color: #303A4B;
}

.for-whom__title span {
    color: #FCBF24;
}

.for-whom__content {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.for-whom__block {
    flex-basis: 26%;
    display: flex;
    align-items: center;
    margin-bottom: 33px;
}

.for-whom__content .for-whom__block:nth-child(3n+3) {
    padding-left: 20px;
}

.for-whom__content .for-whom__block:nth-child(3n+2) {
    padding-left: 40px;
}

.for-whom__block-paragraph {
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #303A4B;
    margin-left: 16px;
    max-width: 256px;
}

/* styling planning section */

.planning {
    padding-top: 79px;
    padding-bottom: 41px;
    background: #FAFAFA;
}

.planning__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.planning__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
    color: #303A4B;
    position: relative;
    margin-bottom: 30px;

}

.planning__title::after {
    content:"";
    position: absolute;
    height: 3px;
    width: 130px;
    background: #FCBF24;
    display: block;
    bottom: -23px;
    left: 0;
}

.planning__paragraph {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #676767;
}

.planning__description .planning__paragraph:nth-child(2) {
    margin-bottom: 62px;
}

.planning__bg {
    position: relative;
}

.planning__bg img:first-child {
    max-height: 370px;
}


.planning__bg .recording {
    position: absolute;
    right: 3%;
    top: -7%;
    max-height: 295px;
}

/* styling scheduling-appointments */

.scheduling-appointments {
    padding-top: 110px;
    padding-bottom: 73px;
}

.scheduling-appointments__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scheduling-appointments__description .scheduling-appointments__paragraph:nth-child(2) {
    margin-bottom: 100px;
}

.scheduling-appointments__title {
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
    color: #303A4B;
    position: relative;
    margin-bottom: 30px;

}

.scheduling-appointments__title::after {
    content:"";
    position: absolute;
    height: 3px;
    width: 130px;
    background: #FCBF24;
    display: block;
    bottom: -23px;
    right: 0;
}

.scheduling-appointments__bg {
    position: relative;
}


.scheduling-appointments__paragraph {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #676767;
    text-align: right;
}

.darts {
    position: absolute;
    top: 19%;
    right: 12%;
    max-height: 430px;
}

/* styling sixth-block */

.sixth-block  {
    background: #FAFAFA;
}

.sixth-block__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sixth-block__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #303A4B;
    position: relative;
    margin-bottom: 30px;

}

.sixth-block__title::after {
    content:"";
    position: absolute;
    height: 3px;
    width: 130px;
    background: #FCBF24;
    display: block;
    bottom: -23px;
    left: 0;
}

.sixth-block__paragraph {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
}

.sixth-block__bg {
    position: relative;
}

.sixth-block__bg .clock {
    position: absolute;
    bottom: 7%;
    right: 10%;
    max-height: 230px;
}

.sixth-block__description .sixth-block__paragraph:nth-child(2) {
    margin-bottom: 87px;
}

/* styling how-it-works section */
.how-it-works {
    padding: 81px 0;
}
.how-it-works__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #303A4B;
    margin-bottom: 29px;
}

.how-it-works__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #303A4B;
    text-align: center;
}

.how-it-works__content {
    margin-top: 132px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.how-it-works__content::before {
    content: "";
    height: 2px;
    width: 71%;
    display: block;
    position: absolute;
    top:-35px;
    left: 50%;
    transform: translateX(-50%);
    background: #FCBF24;
}
.how-it-works__block {
    flex-basis: 28%;
    position: relative;

}

.how-it-works__block::before {
    content: "";
    width: 26px;
    height: 26px;
    background: #FCBF24;
    top: -46px;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  
}

.how-it-works__block .block__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #303A4B;
    margin-bottom: 15px;
}

.how-it-works__block .block__paragraph {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #676767;
    
} 

/* styling paid section */

.paid {
    padding: 40px 0 ;
}

.paid__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #303A4B;
    margin-bottom: 30px;
}

.paid__paragraph {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #676767;
}

.paid__payment-methods {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.methods {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.methods div img{
    height: 36px;
}

.paid__payment-methods img {
    max-height: 30px;
}
.arrow-left, .arrow-right {
    display: none;
}

/*styling register section */

.register {
    padding: 67px 0;
    background:  #FDEAB9;
    text-align: center;
}

.register__paragraph {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #303A4B;
    max-width: 1249px;
    margin: 0 auto;
}

.register__button {
    margin-top: 38px;
    background: transparent;
    padding: 18px 60px;
    border: 2px solid #303A4B;
    border-radius: 30px;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #303A4B;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: .5s;
}

.register__button:hover {
    background: #303A4B;
    color: #FDEAB9;
    font-weight: bold;
}


/* styling footer section */

.footer {
    padding: 42px 0;
}

.footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-description .copyright, .footer-span {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #303A4B;
}

.footer-description .copyright {
    margin-bottom: 14px;
}

.footer-span {
    margin-right: 40px;
}

.footer__navigation .navigation__list .footer-list__link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #303A4B;
}

.footer__navigation .navigation__list .footer-list__item {
    margin-left: 45px;
}

@media (max-width: 980px) {
    .header__content {
        flex-direction: column;
        align-items: flex-end;
    }

    .header__navigation {
        margin: 0;
        order: 2;
    }

    .header__button-sing-in {
        margin-bottom: 10px;
        order: 1;
    }

    .schedule__bg img:first-child{
        width: 100%;
    }

    .second-block__content {
        flex-direction: column;
    }

    .second-block__description {
        order: 1;
        text-align:center;
    }

    .second-block__bg {
        order: 2;
        margin-top: 50px;
    }

    .for-whom__block {
        flex-basis: 48%;
        padding-left: 0;
    }

    .for-whom__content .for-whom__block:nth-child(3n+2) {
        padding-left: 0;
    }

    .for-whom__content .for-whom__block:nth-child(3n+3) {
        padding-left: 0;
    }

    .planning__content {
        flex-direction: column;
    }
    .planning__bg {
        order: 1;
        margin-bottom: 30px;
    }

    .planning__description {
        order: 2;
    }

    .schedule-people {
        right: 15%;
    }

    .scheduling-appointments__content {
        flex-direction: column;
    }

    .scheduling-appointments__bg{
        margin-bottom: 30px;
    }

    .sixth-block__content {
        flex-direction: column-reverse;
    }

    .sixth-block {
        padding-bottom: 30px;
    }

    .how-it-works{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .how-it-works__title {
        margin-bottom: 10px;
    }

    .how-it-works__content {
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
    }

    .how-it-works__content::before {
        display:none;
    }

    .how-it-works__block {
        margin-bottom: 60px;
    }

    

    .second-block__bg img:first-child {
        width: 100%;
    }

    .second-block__bg img:nth-child(2) {
        width: 105px;
    }

    .second-block__bg img:nth-child(3) {
        width: 122px;
    }


    .paid__payment-methods div:nth-child(n+4){
        margin-top: 40px;
    }


    .footer .wrapper {
        flex-direction: column;
    }

    .footer__navigation{
        order: 1;
        
    }

    .footer-description {
        order: 2;
        margin-top: 20px;
        text-align: center;
    }

    .copyright {
        width: 100%;
    }


    .footer-span{
        margin: 0 10px;
    }
}

@media (max-width: 680px) {
    .header{
        width: 100%;
    }
    .wrapper {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }
    .header__navigation {
        visibility: hidden;
        margin: 0;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100vw;
        background-color:rgba(255,255,255,.5);
        -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    
    }
    .header .navigation__list {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100vh;
        width: 70%;
        background: #fff;
        margin-left: auto;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        padding-top: 35%;
    }

    .navigation__list .list__item {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .navigation__list .list__link {
        font-size: 18px;
    }
    .header__navigation .submenu {
        padding: 0;
        position: absolute;
        box-shadow: none;
        top: 30px;
        width: 300px;
        left: 50%;
        transform: translateX(-50%);
        text-align: left;
        max-width: 300px;
        margin-left: 40px;
        
    }

    .header__navigation  ul li .submenu a:first-child,
    .header__navigation  ul li .submenu a:nth-child(2),
    .header__navigation  ul li .submenu a:nth-child(3),
    .header__navigation  ul li .submenu a:nth-child(4),
    .header__navigation  ul li .submenu a:last-child  {
        background: none;
        padding: 0;
        margin-bottom: 20px;
        max-width: 220px;
        width: 100%;
        font-size: 16px;
        line-height: 1.5;
        font-family: 'Nunito Sans', sans-serif;
        text-align: center;
        display: block;
        
}

    .header__navigation  ul li .submenu a:first-child:active,
    .header__navigation  ul li .submenu a:nth-child(2):active,
    .header__navigation  ul li .submenu a:nth-child(3):active,
    .header__navigation  ul li .submenu a:nth-child(4):active,
    .header__navigation  ul li .submenu a:last-child:active {
        background: none;
    }
    .header__navigation .submenu a:first-child:hover,
    .header__navigation .submenu a:nth-child(2):hover,
    .header__navigation .submenu a:nth-child(3):hover,
    .header__navigation .submenu a:nth-child(4):hover,
    .header__navigation .submenu a:last-child:hover{
        background: none;
    }

    

    .header__navigation .visible {
        display: block;
    }

    .header__navigation .notvisible {
        display: none;
    }


    .header__navigation ul li:active ~ .navigation__list{
        margin-top: -20px;
    }

    #menu__toggle, .menu__btn {
        display: block;
    }
    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .header__navigation {
    visibility: visible;
    right: 0;
    }
    #menu__toggle:checked ~ .menu__btn {
    position: fixed;
    top: 20px;
    right: 20px;
    transform: none;
    }

    .header__content {
        background: url(../img/logo-m.svg) no-repeat;
        background-position-y: -10px;
    }

    .menu {
        display: block;
    }
    .header__button-sing-in {
        display: none;
    }

    .schedule {
        padding-bottom: 30px;
    }

    .schedule-people {
        width: 80px;
    }

    .schedule__subtitle {
        font-size: 14px;
        line-height: 21px;
    }

    .schedule__title {
        font-size: 18px;
        line-height: 28px;
    }

    .for-whom__content {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 30px;
    }

    .planning__bg img:first-child {
        width: 100%;
    }
    .planning__bg img:nth-child(2) {
        width: 122px;
    }

    .planning__description {
        text-align: center;
    }

    .planning__title::after {
        left: 50%;
        transform: translateX(-50%);
    }

    .scheduling-appointments {
        padding-top: 30px;
    }

    .scheduling-appointments__bg img:first-child {
        width: 100%;
    }

    .darts {
        width: 100px;
    }

    .scheduling-appointments__title {
        text-align: center;
    }

    .scheduling-appointments__title::after {
        right: 50%;
        transform: translateX(50%);
    }

    .scheduling-appointments__paragraph {
        text-align: center;
    }

    .scheduling-appointments__description .scheduling-appointments__paragraph:nth-child(2) {
margin-bottom: 50px;
    }

    .sixth-block__bg img:first-child{
        width: 100%;
    }

    .clock {
        width: 100px;
    }

    .sixth-block__description {
        text-align: center;
    }

    .sixth-block__title::after {
        left: 50%;
        transform: translateX(-50%);
    }

    .how-it-works__content .how-it-works__block:last-child {
        margin-bottom: 0;
    }

    .methods {
        width: 70%;
        position: relative;
        height: 100px;
    overflow: hidden;
    }
    .method {
        display: none;
        position: relative;
        animation: 0.5s ease-in-out;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        height: 100%;
        width: 80%;
        margin: 0 auto;
    }

    .active, .next {
        display: flex;
        align-items: center;
    }
    
    .next {
        position: absolute;
        top: 0;
        
    }

    .to-left {
        animation-name: left;
    }
    
    .to-right {
        animation-name: right;
        animation-direction: reverse;
    
    }
    
    .from-left {
        animation-name: left;
        animation-direction: reverse;
    }
    
    .from-right{
        animation-name: right;
    }

    .methods div img {
        text-align: center;
        height: 100%;
        width: 100%;
    }

    .method {
        margin: 0 auto;
    }
    .paid__payment-methods div:nth-child(n+4) {
        margin-top: 0;
    }

    .register__paragraph {
        font-size: 14px;
    }

    .register__button {
        padding: 10px 50px;
    }

    

    .arrow-left,.arrow-right {
        display: block;
        cursor: pointer;
    }
    .footer__navigation .navigation__list {
        flex-direction: column;
    }

    .footer__navigation .navigation__list .footer-list__item {
        margin: 0 0 15px;
        text-align: center;
    }
}


@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right{
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}